.card-list-item{
    margin: 4px;
    width: 165px;
    height:225px;
}
.card-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#card_img{
    width: 165px;
    height:225px;
}
