<mat-toolbar color="primary" class="toolbar">
    <button type="button" aria-hidden="true" (click)="drawer.toggle()" id="toolbar-menu" mat-button>　<mat-icon aria-hidden="true" id="menu-icon">menu</mat-icon>  </button>
  <h1 class="toolbar-item mat-h1">シャドバいらすとや</h1>
</mat-toolbar>
<mat-drawer-container  autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-drawer>
<div class="container">
    <div class="mat-typography">
        <h2 id="page-title">{{pageTitle}}</h2>
        <mat-divider></mat-divider>
      </div>
  <router-outlet></router-outlet>
</div>
</mat-drawer-container>