#pic-container {
    display: flex;
    flex-direction: column;
}
.pic-item {
   max-width: 100%;
   text-align: center;
}

.picture {
    max-width:80%;
 }
  @media  (min-width: 980px) {
    .picture {
        width:400px;
        height: 400px;
     }
    }
    
.tile-title{
    max-width: 100%;
}


.title{
    max-width: 100%;
    text-align: center;
}
