<div class="mat-typography" id="card-name" >
    <h1 class="headline">{{card?.name}}</h1>
</div>
<div class="mat-typography">
        <h2 class="section-title title">イラスト</h2>
</div>
<mat-card>
    <div id="pic-container">
        <div class="pic-item">
            <a [href]="'https://s3.ap-northeast-1.amazonaws.com/shadowverse-photos/card/'+ card?.id + '0.jpg'" target="_blank">
                <img class="picture" [src]="'https://s3.ap-northeast-1.amazonaws.com/shadowverse-photos/card/'+ card?.id + '0.jpg'"></a>
            <p class="mat-body-1">"{{card?.description}}"</p>
        </div>
        <div *ngIf="card?.type === 'フォロワー'" class="pic-item">
            <a [href]="'https://s3.ap-northeast-1.amazonaws.com/shadowverse-photos/card/'+ card?.id + '1.jpg'" target="_blank">
                <img class="picture" [src]="'https://s3.ap-northeast-1.amazonaws.com/shadowverse-photos/card/'+ card?.id + '1.jpg'"></a>
            <p class="mat-body-1">"{{card?.evodescription}}"</p>
        </div>
    </div>
</mat-card>
<div class="mat-typography">
                <h2 class="section-title  title">カードの情報</h2>
</div>
<mat-card>
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile>
            <div>
                <h3 class="tile-title">クラス</h3>
                <p>{{card?.clan}}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div>
                <h3 class="tile-title">種類</h3>
                <p>{{card?.type}}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div>
                <h3 class="tile-title">レアリティ</h3>
                <p>{{card?.rarity}}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div>
                <h3 class="tile-title">声優</h3>
                <p>{{card?.actor}}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div>
                <h3 class="tile-title">入手方法</h3>
                <p>{{card?.card_set}}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div>
                <h3 class="tile-title">種族</h3>
                <p>{{card?.tribe}}</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<div class="mat-typography">
                <h2 class="section-title title">効果</h2>
    </div>
<mat-card>
         <h3>進化前</h3>
        <p>{{card?.skilldescription}}</p>
        <h3>進化後</h3>
        <p>{{card?.evoskilldescription}}</p>
</mat-card>